{
  "extends": "stylelint-config-recommended-scss",
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "extend",
        "include",
        "mixin",
        "use",
        "for"
      ]
    }],
    "no-descending-specificity": null,

    "scss/comment-no-empty": null,
    "scss/no-global-function-names": null,
    "scss/at-extend-no-missing-placeholder": null
  }
}