@import '../../src/variables';

/**
 * KSS-Variablen auf PHX trimmen
 */
$kss-colors-background    : $white;
$kss-colors-foreground    : $gray1;
$kss-colors-heading       : $gray1;
$kss-colors-quotes        : $gray2;

$kss-colors-link          : $link;
$kss-colors-link-visited  : $link;
$kss-colors-link-hover    : $link--hover;
$kss-colors-link-active   : $link--active;

$kss-font-body            : $base-font;
$kss-font-code            : $monospace-font;

$kss-font-size            : $font-size;
$kss-vertical-rhythm      : $kss-font-size * 1.3;


/**
 * Template-Anpassungen
 **/

body#kss-node {
    margin-top: 2rem;

    .kss-jumbo {
        margin-top: 2.5rem;
        padding: 0.5rem;
        border: 1px solid $gray5;
        background-color: $whitegray;
    }

    .kss-style {
        p {
            padding: 0;
        }
    }

    .kss-doc-title {
        margin: 1rem 0;
    }

    .kss-header,
    .kss-nav {
        @media screen and (min-width: 769px) {
            margin-top: 0;
        }
    }


    // ---
    // Farbpalette
    // ---

    .kss-color {
        padding: 0;
        margin: 0.5rem;
        border: 1px solid $gray5;

        .kss-color__properties {
            padding: 0.3rem;
            color: $gray1;
            border-top: 1px solid $gray5;
        }

        .kss-color__preview {
            height: 5rem;

            &.primary { background-color: $primary; }
            &.primary-dark { background-color: $primary-dark; }

            &.link { background-color: $link; }
            &.link-hover { background-color: $link--hover; }
            &.link-active { background-color: $link--active; }
        }
    }


    // ---
    // Topbar
    // ---

    .kss-topbar {
        width: 100%;
        display: flex;
        position: fixed;
        padding: 10px 20px;
        align-content: center;
        background-color: $primary;
        justify-content: space-between;
        box-shadow: 0 20px 20px -20px #000000;
        z-index: 9999999;
        color: white;
        left: 0;
        top: 0;

        a,
        a:hover,
        a:active,
        a:focus {
            color: white;
        }
    }

    .kss-topbar .kss-topbar__right {
        display: inline-block;
        @media all and (min-width: 769px) {
            display: none;
        }
    }


    // ---
    // Sidebar
    // ---

    .kss-sidebar {
        margin-top: 30px;

        @media all and (max-width: 769px) {
            opacity: 0;
            max-height: 0;
            margin-top: 0;
            overflow: hidden;
        }
        @media all and (min-width: 769px) {
            height: 100%;
            margin-top: 0;
            top: 0; left: 0;
            max-height: none;
            padding-top: 60px;
            border-right: 1px solid #ccc;
            background: none;
            box-shadow: none;
        }
    }
    .kss-sidebar--visible {
        @media all and (max-width: 769px) {
            max-height: 1000px;
            max-height: 100vh;
            opacity: 1;
            overflow-y: scroll;
            position: fixed;
            width: 100%;
            left: 0;
            z-index: 100;
            padding-left: 1rem;
            background-color: white;
            box-shadow: $box-shadow-6;
            transition:
                max-height 500ms linear,
                opacity 200ms linear;
        }
    }


    // ---
    // Navigation
    // ---

    .kss-nav__menu-item {
        margin: 0.5rem 0;
    }
    .kss-nav__menu-link {
        color: black;

        &:hover {
            color: $link--hover;
        }

        &.is-in-viewport:before {
            width: 10px;
            background-color: $primary;
            transition: background-color .2s, width .6s;
        }
    }

    .kss-nav__menu-child {
        @media screen and (min-width: 769px) {
            margin-left: 0.8rem;
        }
    }

    .kss-nav__sub-menu {
        font-size: 0.85rem;
    }

    .kss-style .kss-nav__separator {
        width: 70%;
        border: 0;
        height: 1px;
        background-image:
            linear-gradient(to right,
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0.75),
                rgba(0, 0, 0, 0)
            );
    }

    .kss-nav__menu > li > a.kss-nav__menu-link {
        display: block;
        padding: 0.5rem;
        border-radius: 5px;
        transition: none;
        color: $light-blue;

        &:hover,
        &:focus,
        &:active {
            color: $white;
            background-color: $light-blue;
        }
    }


    // ---
    // Spezielle Overrides für Komponenten
    // für eine korrekte Ansicht im DS
    // ---

    .kss-modifier__example {
        padding: 2px;
        overflow: hidden;

        // Modal static
        // statt fixed darstellen
        .modal {
            margin: 0 auto;
            position: static;
            transform: translate(0, 0);
        }
        .modal--visible {
            animation: none;
            animation-fill-mode: none;
        }
        .modal__bg {
            z-index: -1;
            position: absolute;
        }

        .notification {
            position: static;
            animation: none;
            transform: translate(0, 0);
        }
    }

    .kss-markup {
        &[open] summary {
            margin-bottom: 3px;
        }
    }

    .kss-colors {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        margin: 0 -.5em;

        @media screen and (min-width: 570px) {
            justify-content: flex-start;
        }

        > * {
            flex: 0 0 auto;
            padding: 0;
            margin-bottom: 1em;
            width: 100%;

            @media screen and (min-width: 570px) {
                width: 16em;
            }
        }

        .kss-color {
            height: 100%
        }
    }
}
