.primary { background-color: $phoenix-blue-light; }
.primary-dark { background-color: $phoenix-blue-dark; }

.link { background-color: $link; }
.link-hover { background-color: $link--hover; }
.link-active { background-color: $link--active; }

.gray1 { background-color: $gray1; }
.gray2 { background-color: $gray2; }
.gray3 { background-color: $gray3; }
.gray4 { background-color: $gray4; }
.gray5 { background-color: $gray5; }
.gray6 { background-color: $gray6; }
.whitegray { background-color: $whitegray; }

.black { background-color: $black; }
.white { background-color: $white; }

.info { background-color: $info; }
.yellow { background-color: $yellow; }
.danger { background-color: $danger; }
.success { background-color: $success; }
.warning { background-color: $warning; }

.staging { background-color: $staging; }