/* calistoga-regular - latin */
@font-face {
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    src: local('Calistoga Regular'), local('Calistoga-Regular'),
         url('./calistoga/calistoga-v1-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./calistoga/calistoga-v1-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }