/*

Akkordion

Animation durch CSS Transitions.

Styleguide 8.0

Markup:
<div>
    <a class="phx-acc-opener">
        <span><i class="fas fa-ship mr1"></i> Hafen 1</span>
        <i class="fas fa-chevron-up ml1"></i>
    </a>
    <a class="phx-acc-opener phx-acc-opener--grayed">
        <span><i class="fas fa-leaf mr1"></i> Ausflug in die Natur</span>
        <i class="fas fa-chevron-down ml1"></i>
    </a>
    <section class="phx-acc-section {{modifier_class}}">
        <div class="phx-acc-inner">
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
        </div>
    </section>
    <a class="phx-acc-opener phx-acc-opener--grayed">
        <span><i class="fas fa-leaf mr1"></i> Ausflug in die Natur</span>
        <i class="fas fa-chevron-up ml1"></i>
    </a>
    <section class="phx-acc-section">
        <div class="phx-acc-inner">
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
        </div>
    </section>
    <a class="phx-acc-opener">
        <span><i class="fas fa-ship mr1"></i> Hafen 2</span>
        <i class="fas fa-chevron-up ml1"></i>
    </a>
    <section class="phx-acc-section {{modifier_class}}">
        <div class="phx-acc-inner">
            <p>Content</p>
            <p>Content</p>
        </div>
    </section>
    <a class="phx-acc-opener phx-acc-opener--grayed">
        <span><i class="fas fa-leaf mr1"></i> Ausflug in die Natur</span>
        <i class="fas fa-chevron-up ml1"></i>
    </a>
    <a class="phx-acc-opener phx-acc-opener--grayed">
        <span><i class="fas fa-leaf mr1"></i> Ausflug in die Natur</span>
        <i class="fas fa-chevron-up ml1"></i>
    </a>
</div>

.phx-acc-section--open - wenn gesetzt, dann offen

*/

a.phx-acc-opener {
    display: flex;
    padding: 0.5rem;
    color: $white;
    align-items: center;
    justify-content: space-between;
    background-color: $light-blue;

    &--grayed {
        color: $gray2;
        background-color: $gray5;
        border: 1px solid $whitegray;
    }
}

.phx-acc-section {
    max-height: 0;
    overflow: hidden;
    background-color: $whitegray;
    transition: max-height 350ms ease-in-out;

    &--open {
        max-height: 100%;
    }
}

.phx-acc-inner {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: $white;
    border: 1px solid $gray6;
}