/*

Akkordion

Durch das Setzen der Klasse `.acc-animated` auf `.acc-section`
kann das Öffnen und Schließen einer Sektion (s.u.) animiert werden. 
Sie fährt dann raus und rein.

Styleguide 8.0

Markup:
<div>
    <a href="javascript:" class="acc-opener">
        <span><i class="fas fa-ship mr1"></i> Hafen 1</span>
        <i class="fas fa-chevron-up ml1"></i>
    </a>
    <a href="javascript:" class="acc-opener acc-opener--grayed">
        <span><i class="fas fa-leaf mr1"></i> Ausflug in die Natur</span>
        <i class="fas fa-chevron-down ml1"></i>
    </a>
    <section class="acc-section {{modifier_class}}">
        <div class="acc-inner">
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
        </div>
    </section>
    <a href="javascript:" class="acc-opener acc-opener--grayed">
        <span><i class="fas fa-leaf mr1"></i> Ausflug in die Natur</span>
        <i class="fas fa-chevron-up ml1"></i>
    </a>
    <section class="acc-section">
        <div class="acc-inner">
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
        </div>
    </section>
    <a href="javascript:" class="acc-opener">
        <span><i class="fas fa-ship mr1"></i> Hafen 2</span>
        <i class="fas fa-chevron-up ml1"></i>
    </a>
    <section class="acc-section {{modifier_class}}">
        <div class="acc-inner">
            <p>Content</p>
            <p>Content</p>
        </div>
    </section>
    <a href="javascript:" class="acc-opener acc-opener--grayed">
        <span><i class="fas fa-leaf mr1"></i> Ausflug in die Natur</span>
        <i class="fas fa-chevron-up ml1"></i>
    </a>
    <a href="javascript:" class="acc-opener acc-opener--grayed">
        <span><i class="fas fa-leaf mr1"></i> Ausflug in die Natur</span>
        <i class="fas fa-chevron-up ml1"></i>
    </a>
</div>

.acc-section--open - wenn gesetzt, dann offen, sonst geschlossen.

*/
@keyframes slideIn {
    from { margin-top: -150%; }
    to { margin-top: 0.5rem; }
}
@keyframes slideOut {
    from { margin-top: 0.5rem; }
    to { margin-top: -150%; }
}

a.acc-opener {
    display: flex;
    padding: 0.5rem;
    color: $white;
    align-items: center;
    justify-content: space-between;
    background-color: $light-blue;
    transition: padding-left 200ms ease-in-out;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        color: $white;
        padding-left: 0.75rem;
    }

    &--grayed {
        color: $gray2;
        background-color: $gray5;
        border: 1px solid $whitegray;

        &:hover,
        &:focus,
        &:active,
        &:visited {
            color: $gray1;
        }
    }
}

.acc-section {
    position: relative;
    overflow: hidden;
    background-color: $whitegray;

    .acc-inner {
        padding: 0 0.5rem;
        margin: -150% 0.5rem 0.5rem 0.5rem;
        animation: slideOut;
        background-color: $white;
        border: 1px solid $gray6;
    }
    &--open {
        .acc-inner {
            margin: 0.5rem;
            padding: 0.5rem;
            animation: slideIn;
        }
    }
    &.acc-animated {
        .acc-inner {
            animation-duration: 750ms;
            animation-fill-mode: both;
        }
    }
}