/*

Alerts

Styleguide 1.0

*/

/*

Status Alerts

Hervorgehobene Boxen, die aufgrund ihrer Farben verschiedene Stati (Erfolg, Hinweis, Warnung, Fehler, etc.) ausdrücken.
Sie integrieren sich dabei in den üblichen Elementfluss.

Markup:
<p class="alert alert--icon {{modifier_class}}">
    <i class="fas fa-check mr2"></i>
    <span>
        Ich bin eine Alert-Box und habe etwas zu sagen.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. <a href="javascript:">Mit
        einem Link.</a>
    </span>
</p>

.alert--success         - Erfolgsmeldung
.alert--info            - Infomeldung
.alert--warning         - Warnmeldung
.alert--danger          - Fehlermeldung

Styleguide 1.1

*/

.alert {
  padding: 0.3rem;
  line-height: 135%;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;

  a { text-decoration: underline; }
  a:hover { text-decoration: none; }
}

.alert--danger {
  color: $danger;
  background-color: $light-danger;

  a {
    color: $danger;

    &:visited {
      color: $danger;
    }

    &:hover,
    &:active,
    &:focus {
      color: $dark-danger;
    }
  }
}

.alert--success {
  color: $success;
  background-color: $light-success;

  a {
    color: $success;

    &:visited {
      color: $success;
    }

    &:hover,
    &:active,
    &:focus {
      color: $dark-success;
    }
  }
}

.alert--warning {
  color: $warning;
  background-color: $light-warning;

  a {
    color: $warning;

    &:visited {
      color: $warning;
    }

    &:hover,
    &:active,
    &:focus {
      color: $dark-warning;
    }
  }
}

.alert--info {
  color: $info;
  background-color: $light-info;

  a {
    color: $info;

    &:visited {
      color: $info;
    }

    &:hover,
    &:active,
    &:focus {
      color: $dark-info;
    }
  }
}

.alert--icon {
  position: relative;
  padding-left: 3rem;

  > i.fas {
    position: absolute;
    left: 1rem;
    top: 0.3rem;
    line-height: 135%;
  }
}

/*

Info-Text Alert

Markup:
<div class="ma2">
<article class="text-alert {{modifier_class}}">
    <div class="big-alert-icon">
        <i class="fas fa-info-circle"></i>
    </div>
    <h3 class="pt0">
        Alert für umfangreichere Texte oder auch ganze "Info-Seiten"
    </h3>
    <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
        dolores et ea rebum. Stet clita kasd gubergren, <a href="javascript:" title="Beispiellink">no sea
        takimata sanctus est</a>.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    <p>
        <a href="javascript:">Lorem ipsum dolor sit amet</a>, consetetur sadipscing elitr, sed diam nonumy eirmod
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
</article>
</div>

.text-alert--bordered - mit Umrandung
.text-alert--shadowed - mit Schatten

Styleguide 1.2

*/

.text-alert {
  color: $gray1;
  padding: 0.5rem;
  line-height: 160%;
  margin-bottom: 0.5rem;
  background-color: $white;

  a {
    color: $link;

    &:hover,
    &:active,
    &:focus {
      color: $link--hover;
    }
  }

  &--bordered {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid $gray4;
  }

  &--shadowed {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid $gray6;
    box-shadow: $box-shadow-2;
  }

  .big-alert-icon {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    color: $info;
  }
}
