/*

Buttons

Diverse Arten von Buttons.

Styleguide 300.0

*/

/*

CTA & Status Buttons

Markup:
<div class="pa2">
    <button type="button" class="btn {{modifier_class}}">
        Button
    </button>
</div>

.btn--primary         - "Primary"
.btn--secondary       - "Secondary" (weniger prominent als Primary)
.btn--stretched       - langgezogen
.btn--link            - Linkstyle
.btn--success         - Hinweis / Erfolg
.btn--info            - Hinweis / Info
.btn--warning         - Fehler / Warnung
.btn--danger          - Fehler / Gefahr

Styleguide 300.10

*/

.btn {
    /* size */
    width: auto;
    margin: 0 auto;
    padding: 0.5rem 0.75rem;
    max-width: 100%;
    line-height: 140%;
    box-sizing: border-box;
    /* element flow */
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    /* style */
    color: $white;
    cursor: pointer;
    user-select: none;
    text-align: center;
    border-radius: 0.2rem;
    border: 0 solid transparent;
	background: $primary linear-gradient(
        to bottom right,
        lighten($primary, 5%) 0%,
        $primary 100%
    );
    /* animation */
    transition:
        background-color 250ms linear,
        outline 50ms linear;

    &:link,
    &:visited {
        color: $white;
        text-decoration: none;
    }
    &:focus,
    &:hover {
        outline: none;
        color: $white;
        background: $primary-dark;
    }
    &:active {
        border-top-width: 0.1rem;
        border-left-width: 0.1rem;
        background: $primary-dark;
    }
    &:after {
        content: "";
        /* element flow */
        display: block;
        position: absolute;
        /* size */
        width: 100%;
        height: 100%;
        top: 0; left: 0;
        /* style */
        opacity: 0;
        pointer-events: none;
        background-position: 50%;
        background-repeat: no-repeat;
        /* animation (ripple effect) */
        transform: scale(10,10);
        transition: transform .5s, opacity 1s;
        background-image: radial-gradient(circle, $whitegray 10%, transparent 10.01%);
    }
    &:active:after {
        /* animation start (ripple effect) */
        opacity: .5;
        transition: 0s;
        transform: scale(0,0);
    }
}

.btn--secondary {
    color: $gray1;
	background: $gray6;

    &:link,
    &:visited {
        color: $gray1;
    }
    &:focus,
    &:hover {
        color: $gray1;
        background: $gray5;
    }
    &:active {
        color: $gray1;
        background: $gray5;
        border-left-width: 0.1rem;
        border-top-width: 0.1rem;
    }
}

.btn--link {
    color: $link;
    background: transparent;

    &:link,
    &:visited {
        color: $link;
    }
    &:focus,
    &:hover {
        color: $link--hover;
        background-color: $gray6;
    }
    &:active {
        color: $link--active;
        background-color: $gray5;
        border-left-width: 0.1rem;
        border-top-width: 0.1rem;
    }
}

.btn--stretched {
    @media all and (min-width: $M) {
        padding-left: 5em;
        padding-right: 5em;
    }
}

/**
 * Status Buttons
 */

.btn--success {
	background: $success;

    &:focus,
    &:hover {
        background: $dark-success;
    }
    &:active {
        border-left-width: 0.1rem;
        border-top-width: 0.1rem;
    }
}

.btn--warning {
    background: $warning;

    &:focus,
    &:hover {
        background: $dark-warning;
    }
    &:active {
        border-left-width: 0.1rem;
        border-top-width: 0.1rem;
    }
}

.btn--info {
    background: $info;

    &:focus,
    &:hover {
        background: $dark-info;
    }
    &:active {
        border-left-width: 0.1rem;
        border-top-width: 0.1rem;
    }
}

.btn--danger {
    background: $danger;

    &:hover,
    &:focus {
        background: $dark-danger;
    }
    &:active {
        border-left-width: 0.1rem;
        border-top-width: 0.1rem;
    }
}


/**
 * Styles automatisch auf Buttons setzen
 */

[type=button],
[type=submit],
button {
    @extend .btn;
}

/*

Mobile Nav Toggler

Markup:
<article>
    <span style="display:inline-block; vertical-align: middle"> <!-- span kann weg -->
        <a href="#" class="nav-btn noprint" title="Navigation ein-/ausblenden">
            <i class="fas fa-bars"></i>
        </a>
    </span>
</article>

Styleguide 300.20

*/

.nav-btn,
.phx-nav-btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    overflow: hidden;
    transition: none;
    line-height: 1rem;
    text-align: center;
    border-radius: 200%;
    padding-top: 0.75rem;
    background-color: $gray6;

    &:hover {
        color: $white;
        background-color: $light-blue;
        transition:
            color 150ms linear,
            background-color 150ms linear;
    }
}


/*

Avatar Nav Toggler

Markup:
<article>
    <span style="display:inline-block; vertical-align: middle"> <!-- span kann weg -->
        <a href="#" class="avatar-cta" title="Buchungsdaten anzeigen">
            <i class="fas fa-user avatar__symbol"></i>
        </a>
    </span>
</article>

Styleguide 300.30

*/

.avatar-cta,
.phx-avatar-cta {
    // Bei Bedarf zu ueberschreiben
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    box-shadow: $box-shadow-3;
    border: 2px solid $primary;
    // Sollte nicht überschrieben werden.
    color: $black;
    display: block;
    position: relative;
    border-radius: 50%;
    text-decoration: none;
    background-color: white;

    &:visited {
        color: $black
    }
    &:active,
    &:hover {
        color: $primary;
        transition: color ease 150ms;
    }

    > i.fas {
        position: absolute;
        top: 50%; left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
