/*

Buttons

Markup:
<div class="pa2">
    <button class="btn {{modifier_class}}">Button</button>
</div>

.btn--primary         - "Primary"
.btn--secondary       - "Secondary" (weniger prominent als Primary)
.btn--stretched       - langgezogen
.btn--link            - Linkstyle
.btn--success         - Hinweis / Erfolg
.btn--info            - Hinweis / Info
.btn--warning         - Fehler / Warnung
.btn--danger          - Fehler / Gefahr

Styleguide 300.0

*/

.btn {
    /* size */
    width: auto;
    margin: 0 auto;
    padding: 0.75rem;
    max-width: 100%;
    line-height: 140%;
    box-sizing: border-box;
    /* element flow */
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    /* style */
    color: $white;
    user-select: none;
    text-align: center;
    border-radius: 0.2rem;
    background-color: $primary;
    border: 0 solid transparent;
    cursor: pointer;
    /* animation */
    transition:
        background-color 250ms linear,
        outline 50ms linear;

    &:link,
    &:visited {
        color: $white;
        text-decoration: none;
    }
    &:focus,
    &:hover {
        outline: none;
        color: $white;
        background-color: $primary-dark;
    }
    &:active {
        border-top-width: 0.1rem;
        border-left-width: 0.1rem;
        background-color: $primary-dark;
    }
    &:after {
        content: "";
        /* element flow */
        display: block;
        position: absolute;
        /* size */
        width: 100%;
        height: 100%;
        top: 0; left: 0;
        /* style */
        opacity: 0;
        pointer-events: none;
        background-position: 50%;
        background-repeat: no-repeat;
        /* animation (ripple effect) */
        transform: scale(10,10);
        transition: transform .5s, opacity 1s;
        background-image: radial-gradient(circle, $whitegray 10%, transparent 10.01%);
    }
    &:active:after {
        /* animation start (ripple effect) */
        opacity: .5;
        transition: 0s;
        transform: scale(0,0);
    }
}

.btn--secondary {
    color: $gray1;
    background-color: $gray6;

    &:link,
    &:visited {
        color: $gray1;
    }
    &:focus,
    &:hover {
        color: $gray1;
        background-color: $gray5;
    }
    &:active {
        color: $gray1;
        background-color: $gray4;
        border-left-width: 0.1rem;
        border-top-width: 0.1rem;
    }
}

.btn--link {
    color: $link;
    background-color: transparent;

    &:link,
    &:visited {
        color: $link;
    }
    &:focus,
    &:hover {
        color: $link--hover;
        background-color: $gray6;
    }
    &:active {
        color: $link--active;
        background-color: $gray5;
        border-left-width: 0.1rem;
        border-top-width: 0.1rem;
    }
}

.btn--stretched {
    @media all and (min-width: $M) {
        padding-left: 5em;
        padding-right: 5em;
    }
}

/**
 * Status Buttons
 */

.btn--success {
    background-color: $success;

    &:focus,
    &:hover {
        background-color: $dark-success;
    }
    &:active {
        border-left-width: 0.1rem;
        border-top-width: 0.1rem;
    }
}

.btn--warning {
    background-color: $warning;

    &:focus,
    &:hover {
        background-color: $dark-warning;
    }
    &:active {
        border-left-width: 0.1rem;
        border-top-width: 0.1rem;
    }
}

.btn--info {
    background-color: $info;

    &:focus,
    &:hover {
        background-color: $dark-info;
    }
    &:active {
        border-left-width: 0.1rem;
        border-top-width: 0.1rem;
    }
}

.btn--danger {
    background-color: $danger;

    &:hover,
    &:focus {
        background-color: $dark-danger;
    }
    &:active {
        border-left-width: 0.1rem;
        border-top-width: 0.1rem;
    }
}


/**
 * Styles automatisch auf Buttons setzen
 */

[type=button],
[type=submit],
button {
    @extend .btn;
}