/*

Dropdown

Styleguide 350.0

**Module:**
[Mithril](https://github.com/phoenixreisen/dropdown) |
[React](https://github.com/phoenixreisen/reacts/tree/main/src/dropdown)

Auf dem Opening liegt eine Transition. Standardmäßig sind `max-height: 10rem` eingestellt, die bei höherem
Bedarf überschrieben werden müssten, ansonsten wird gescrollt.

Markup:
<div style="padding: 1rem;">
    <article class="dropdown {{modifier_class}}">
        <a href="javascript:">
            <i class="fas fa-user mr1" aria-hidden="true"></i> Optionen
        </a>
        <div class="dropdown-items">
            <div key="item-0" class="dropdown-item dropdown-item-0">
                <a href="javascript:">Option eins</a>
            </div>
            <div key="item-1" class="dropdown-item dropdown-item-1">
                <a href="javascript:">Option zwei</a>
            </div>
            <div key="item-2" class="dropdown-item dropdown-item-2">
                <a href="javascript:">Option drei</a>
            </div>
        </div>
    </article>
    <div>
        <h3>Beispiel Content</h3>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
            ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </p>
    </div>
</div>

.dropdown--open - wenn gesetzt, dann offen, sonst geschlossen.

*/

.dropdown {
    display: inline-block;
    position: relative;
    overflow: visible;
    border-bottom: 1px solid $gray5;
}

.dropdown-items {
    width: auto;
    max-height: 0;
    display: block;
    min-width: 100%;
    position: absolute;
    left: 50%; top: 125%;
    transform: translateX(-50%);
    transition: max-height 100ms ease-out;
    box-shadow: $box-shadow-4;
    background-color: $white;
    white-space: nowrap;
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;

    .dropdown--open & {
        max-height: 10rem;
        overflow-y: auto;
        transition: max-height 100ms ease-in;
    }
}

.dropdown-item {
    display: block;
    padding: 0.75rem 1rem;
    margin: 0;
    text-align: left;

    &:hover {
        background-color: $gray6;
    }
}