/*

Formulare

Markup:
<form>
  <label class="textfield">
    <input type="text" />
    <span class="textfield__label">Name</span>
  </label>
  <label class="radio">
    <input type="radio" name="example" />
    <span class="radio__label">Desktop</span>
  </label>
  <label class="radio">
    <input type="radio" name="example" />
    <span class="radio__label">Mobile</span>
  </label>
  <label class="select">
    <select name="select">
      <option disabled="disabled" selected="selected">Bitte wählen</option>
      <option>MS Amadea</option>
      <option>MS Amera</option>
      <option>MS Artania</option>
      <option>MS Albatros</option>
      <option>MS Deutschland</option>
    </select>
    <span class="select__label" for="select">Lieblingsschiff</span>
  </label>
  <label class="textfield">
    <textarea></textarea>
    <span class="textfield__label">Comments</span>
  </label>
  <label class="checkbox">
    <input type="checkbox" />
    <span class="checkbox__label">Check mich!</span>
  </label>
  <br/>
  <div class="mt3">
    <button type="button" class="btn btn--primary">
      Abschicken
    </button>
    <button type="button" class="btn btn--primary" disabled="disabled">
      <i class="fas fa-spinner fa-spin mr1"></i> Abschicken
    </button>
    <button type="button" class="btn btn--success" disabled="disabled">
      <i class="fas fa-check mr1"></i> Gekauft
    </button>
    <button type="button" class="btn btn--secondary">
      Abbrechen
    </button>
  </div>
  <div class="mt3">
    <button class="btn btn--warning">Löschen</button>
    <button class="btn btn--danger">Alles löschen</button>
    <button class="btn btn--link"><i class="fas fa-home mr1"></i> Home</button>
  </div>
</form>

Styleguide 400.0

*/

//
// Shared Styles
//
// All form controls
//
fieldset {
  padding: 0;
  margin: 0;
}

label {
  color: $gray3;
}

input,
label,
select,
button,
textarea {
  display: block;
  line-height: 150%;
  font-size: $font-size;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  @media (min-width: $L) {
    font-size: $font-size-xl;
  }
}

textarea {
  resize: vertical;
}

/* remove yellow from chrome auto-fill background */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  color: $gray1;
  -webkit-text-fill-color: $gray1;
  box-shadow: 0 0 0 1000px white inset !important;
}

.disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.radio [disabled],
.select [disabled],
.checkbox [disabled],
.textfield [disabled] {
  @extend .disabled;

  & + * {
    @extend .disabled;
  }
}

[type="button"][disabled],
[type="submit"][disabled],
fieldset[disabled] input,
button[disabled] {
  @extend .disabled;
}

//
// Shared Styles
//
// Radio and Checkbox
//
.radio,
.checkbox {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0 1rem 0 2rem;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0.9rem;
    margin-top: -10px;
    border: 2px solid $gray4;
    background-color: $white;
  }
}

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.radio__label,
.switch__label,
.checkbox__label {
  color: $gray3;
  line-height: 150%;
  align-self: center;
}

.radio__label::after,
.checkbox__label::after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 0.9rem;
  margin-top: -10px;
  border: 1px solid transparent;
}

.radio input[type="radio"]:focus + .radio__label::after,
.checkbox input[type="checkbox"]:focus + .checkbox__label::after {
  border-color: $primary;
  box-shadow: 0 1px 2px 1px $gray5 inset;
}

//
// Shared Styles
//
// Textfield and Select
//
.textfield,
.select {
  display: block;
  position: relative;
  margin-top: -2px;
  margin-bottom: 1rem;
  background-color: $white;
}

.textfield__label,
.select__label {
  top: 2px;
  left: 1px;
  right: 1px;
  line-height: 1;
  padding: 0.3rem;
  position: absolute;
  font-size: 0.8rem;
  background-color: $white;
}

.textfield input,
.textfield textarea,
.select select {
  width: 100%;
  position: relative;
  padding: 1.5rem 1.6rem 0.3rem 0.3rem;
  background-color: transparent;
  border: 1px solid $gray4;
  box-sizing: border-box;
  border-radius: 2px;
}

.textfield *:focus,
.select select:focus {
  border-bottom-color: $primary;
  box-shadow: 0 1px 2px 0 $gray5 inset;
  outline: none;
}

//
// Shared Styles
//
// Textfield and Select
//
.textfield__label .select__label {
  line-height: 0.9;
}

/*

Radio

Markup:
<label class="radio {{modifier_class}}">
  <input
    type="radio"
    name=""
    checked=""
    onclick=""
  />
  <span class="radio__label">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
  </span>
</label>

.disabled - disabled

Styleguide 400.10

*/

.radio::before,
.radio__label::after {
  border-radius: 20px;
}

.radio input[type="radio"]:checked + .radio__label::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-top: -5px;
  position: absolute;
  top: 0.9rem;
  left: 5px;
  border-radius: 20px;
  background-color: $primary-dark;
}

/*

Checkbox

Markup:
<label class="checkbox {{modifier_class}}">
  <input
    name=""
    checked=""
    onclick=""
    type="checkbox"
  />
  <span class="checkbox__label">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
  </span>
</label>

.disabled - disabled

Styleguide 400.20

*/

.checkbox::before,
.checkbox__label::after {
  border-radius: 2px;
}

.checkbox--table {
  margin-bottom: 0;
}

.checkbox input[type="checkbox"]:checked + .checkbox__label::after {
  content: "\2714";
  color: $primary-dark;
  font-size: $font-size;
  line-height: 18px;
  text-align: center;
}

/*

Checkbox - Switch

Markup:
<label class="switch">
  <span class="switch__input">
    <input
      name=""
      checked=""
      onclick=""
      type="checkbox"
    />
    <span class="switch__slider"></span>
  </span>
  <span class="switch__label">
    Licht an oder aus, das ist hier die Frage. Lorem ipsum dolor sit amet, consetetur
    sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
  </span>
</label>

Styleguide 400.30

*/

.switch {
  display: flex;
}

.switch__input {
  display: inline-block;
  position: relative;
  margin-top: 0.3rem;
  flex-shrink: 0;
  flex-grow: 0;
  height: 34px;
  width: 60px;

  @media all and (min-width: $M) {
    margin-top: 0.2rem;
  }

  input {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.switch__label {
  display: inline-block;
  margin-left: 1rem;
  cursor: pointer;
  flex-grow: 1;
}

.switch__slider {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.2rem;
  background-color: $gray4;
  -webkit-transition: .4s;
  transition: .4s;

  &::before {
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 0.2rem;
    transition: 0.4s;
  }
}

input:checked + .switch__slider {
  background-color: $primary-dark;
}

input:focus + .switch__slider {
  box-shadow: 0 0 1px $primary-dark;
}

input:checked + .switch__slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*

Input & Textareas

Markup:
<label class="textfield {{modifier_class}}">
  <input
    type="text"
    name=""
    value=""
    oninput=""
    maxlength=""
    autocomplete=""
    placeholder="..."
  />
  <span class="textfield__label">Input</span>
</label>
<label class="textfield {{modifier_class}}">
  <textarea
    name=""
    value=""
    oninput=""
    maxlength=""
    placeholder="...">
  </textarea>
  <span class="textfield__label">Textarea</span>
</label>

.disabled - disabled

Styleguide 400.40

*/

/*

Input mit Button

Markup:
<div class="textfield-with-button">
  <label class="textfield {{modifier_class}}">
    <input
      type="text"
      name=""
      value=""
      oninput=""
      maxlength=""
      autocomplete=""
      placeholder="..."
    />
    <span class="textfield__label">Input</span>
  </label>
  <button class="btn btn--primary"
      <i class="fas fa-check mr2"></i>
      <span>Speichern</span>
  </button>
</div>

Styleguide 400.50

*/

.textfield-with-button {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: stretch;

  > label {
    flex-grow: 2;
    margin-bottom: 0;
  }

  > label>input {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > button {
    height: none;
    line-height: 1;
    margin-top: -2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/*

Select

Markup:
<label class="select {{modifier_class}}">
  <select name="" onchange="">
    <option selected="">Select</option>
    <option value="">Option 1</option>
    <option value="">Option 2</option>
    <option value="">Option 3</option>
  </select>
  <span class="select__label">Select Label</span>
</label>

.disabled - disabled

Styleguide 400.60

*/

.select {
  &::after {
    content: "";
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.4rem solid $primary;
    margin-top: -0.5rem;
    position: absolute;
    bottom: 0.8rem;
    right: 1rem;
    height: 0;
    width: 0;
  }
}

.select.disabled {
  &::after {
    border-top: 0.4rem solid $gray3;
  }
}

.select select::-ms-expand {
  display: none;
}

.select option[disabled] {
  background-color: $gray6;
  color: $gray2;
}

/*

Validierung

Hervorhebung durch Warnfarbe bei fehlerhafter Eingabe, meistens instant während des Tippens.

Markup:
<div>
  <label class="textfield">
    <input type="text" />
    <span class="textfield__label alert--warning">
      Buchungsnr... Bitte nur Ziffern
    </span>
  </label>
  <label class="textfield">
    <textarea></textarea>
    <span class="textfield__label alert--warning">
      Kommentar
    </span>
  </label>
  <div class="mb3">
    <label class="radio alert--warning">
      <input type="radio" name="example" />
      <span class="radio__label">Entweder</span>
    </label>
    <label class="radio alert--warning">
      <input type="radio" name="example" />
      <span class="radio__label">Oder</span>
    </label>
  </div>
  <div class="mb3">
    <label class="checkbox alert--warning">
      <input type="checkbox" />
      <span class="checkbox__label">Check mich!</span>
    </label>
  </div>
  <button disabled="disabled">
    Senden
  </button>
</div>

Styleguide 400.70

*/

/*

Formular Box

Fasst das Formular optisch als Box zusammen.

Markup:
<div class="form-box">
  <label class="textfield">
    <input type="text" />
    <span class="textfield__label">Input</span>
  </label>
  <label class="textfield">
    <textarea></textarea>
    <span class="textfield__label">Textarea</span>
  </label>
  <button>Senden</button>
</div>

Styleguide 400.80

*/

.form-box {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid $gray5;
  background-color: $whitegray;
}
