/*

Loader

Styleguide 600.0

[Github](https://github.com/phoenixreisen/loader)

Markup:
<div class="loader-parent gray6" style="height: 200px">
    <article class="loader {{modifier_class}}">
        <p class="loader__spinner">
            <i class="fas fa-spinner fa-spin"></i><br />
            Daten werden geladen...
        </p>
    </article>
</div>

.loader--overlay - zentriert & absolut positioniert über Container mit `.loader-parent` - inkl. seichtem Hintergrund

*/

.loader-parent {
    position: relative;
}

.loader {
    padding: 1.5rem 0;
    text-align: center;
}

.loader--overlay {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 300;
    padding: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);

    > .loader__spinner {
        display: inline-block;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
}

.loader__spinner {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
}