/*

Modal

Styleguide 700.0

**Module:**
[Mithril](https://github.com/phoenixreisen/mithrils/tree/main/src/modal) |
[React](https://github.com/phoenixreisen/reacts/tree/main/src/modal)

**Das Modal ist hier zum Zweck der beispielhaften Veranschaulichung `static` positioniert;** normalerweise würde es sich mit einem
seichten Hintergrund `fixed` über die Website legen (siehe Demo). Zudem liegt auf dem Öffnen des Modals bzw. auf `.modal--visible`
eine `pulse`-Animation, die hier nur deaktiviert wurde.

Wenn keine Größe angegeben ist, passt sich das Modal bis zu seiner `max-width` & `max-height` an seinen Content an.
Folgende fixe **Größen für Tablets & Desktops** können aber auch festgelegt werden:

- s7590 - 75% breit, 90% hoch
- s9090 - 90% breit, 90% hoch
- s5050 - 50% breit, 50% hoch
- s5075 - 50% breit, 75% hoch

**Auf Smartphones nimmt das Modal immer 90% der Breite ein und wird bis zu 90% hoch.**

Markup:
<div class="flex">
    <article class="modal modal--visible {{modifier_class}}">
        <div class="modal__header">
            <span class="modal__headline">
                Phoenix Reisen Modal
            </span>
            <a class="modal__toggle" href="javascript:">
                <span class="desktop-only">schließen</span>
                <i class="fas fa-times-circle"></i>
            </a>
        </div>
        <div class="modal__content">
            <h3 class="pt0">Überschrift</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <table>
                <thead>
                    <tr>
                        <th>Spalte 1</th>
                        <th>Spalte 2</th>
                        <th>Spalte 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Content</td>
                        <td>Content</td>
                        <td>Content</td>
                    </tr>
                    <tr>
                        <td>Content</td>
                        <td>Content</td>
                        <td>Content</td>
                    </tr>
                    <tr>
                        <td>Content</td>
                        <td>Content</td>
                        <td>Content</td>
                    </tr>
                </tbody>
            </table>
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="modal__footer tr">
            <button type="button" class="btn btn--link mr1">schließen</button>
            <button type="button">Speichern</button>
        </div>
    </article>
    <article class="modal__bg"></article>
</div>

.modal--visible - Modal ist sichtbar, passt sich dem Content an, wird aber nicht höher als 90% und nicht breiter als 75% des Bildschirms
.modal--visible.modal--50-50   - max. 50% des Bildschirms breit, max. 50% hoch
.modal--visible.modal--50-75   - max. 50% des Bildschirms breit, max. 75% hoch
.modal--visible.modal--75-90   - max. 75% des Bildschirms breit, max. 90% hoch
.modal--visible.modal--90-90   - max. 90% des Bildschirms breit, max. 90% hoch

*/

@keyframes modal {
  from {
    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: translate(-50%, -50%) scale3d(1.05, 1.05, 1.05);
    transform: translate(-50%, -50%) scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }
}

.modal {
  display: none;

  //--- SIZE
  width: 100%;
  height: auto;
  max-width: 90%;
  max-height: 75vh;
  overflow: hidden;

  //--- STYLE
  outline: 0;
  border-radius: 5px;
  border: 1px solid $gray4;
  box-shadow: $box-shadow-5;
  background-color: white;

  @media all and (min-width: $M) {
    max-width: 75%;
    max-height: 90vh;
    height: auto;
    width: auto;

    &--75-90 {
      width: 100%;
      height: 100%;
      max-width: 75%;
      max-height: 90vh;
    }

    &--90-90 {
      width: 100%;
      height: 100%;
      max-width: 90%;
      max-height: 90vh;
    }

    &--50-50 {
      width: 100%;
      height: 100%;
      max-width: 50%;
      max-height: 50vh;
    }

    &--50-75 {
      width: 100%;
      height: 100%;
      max-width: 50%;
      max-height: 75vh;
    }
  }

  &--visible {
    display: flex;
    flex-direction: column;

    //--- POSITION
    top: 50%;
    left: 50%;
    margin: 0;
    z-index: 301;
    position: fixed;
    transform: translate(-50%, -50%);

    //--- ANIMATION
    animation-name: modal;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}

.modal .modal__header {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 1rem;
  padding: 0.5rem 1rem;
  background-color: $light-blue;
  justify-content: space-between;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: $white;

  div.modal__headline {
    margin-right: 2rem;
  }

  a.modal__toggle {
    display: inline-block;
    margin-left: 2rem;
    color: white;

    > i.fas {
      margin-left: 0.25rem;
    }
  }
}

.modal .modal__content {
  -ms-flex: 1 0 0;
  flex: 1 1 auto;
  overflow: hidden;
  overflow-y: auto;
  padding: 1rem;
}

.modal .modal__footer {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0.75rem 1rem;
  border-top: 1px solid $gray4;
  background-color: $whitegray;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.modal .modal__content .modal__footer {
  margin: 1rem -1rem -1rem;
}

.modal__bg {
  display: none;
  position: fixed;
  z-index: 300;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);

  &--visible {
    display: block;
  }
}

.modal--visible ~ .modal__bg {
  display: block;
}
