/*

Notifications

**Module:** [Mithril](https://github.com/phoenixreisen/notification)

Notifications werden typischerweise als Egebnisanzeige von Benutzerinteraktionen angezeigt. Wenn ein Benutzer beispielsweise Daten
speichert oder löscht, wird ihm die Tatsache, dass dies erfolgreich oder fehlerhaft verlaufen ist, mittels einer solchen
Box mitgeteilt.

**Die Notification ist hier zum Zweck der beispielhaften Veranschaulichung `static` positioniert und ohne Animation dargestellt**.
Normalerweise würde sie `fixed` unten links im Browserfenster einfaden und nach 5 Sekunden automatisch wieder ausfaden.

Markup:
<article class="notification {{modifier_class}}">
    <i class="fas fa-check mr2"></i>
    Ich bin ein Ergebnis-Hinweis. <a href="javascript:">Mit einem Link</a>.
</article>

.notification--info             - Infomeldung
.notification--error            - Fehlermeldung
.notification--success          - Erfolgsmeldung

Styleguide 750.0

*/

@keyframes fadeInUpAndfadeOutDown {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    10%, 90% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}


.notification {

    // POSITION
    left: 5%;
    bottom: 5%;
    z-index: 200;
    position: fixed;

    // STYLE
    max-width: 90%;
    padding: 0.75rem;
    padding-left: 2.5rem;
    line-height: 135%;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    box-shadow: $box-shadow-4;
    animation: fadeInUpAndfadeOutDown 10s;
    animation-fill-mode: forwards;

    // STANDARDFARBEN
    background-color: $dark-blue;
    color: $white;

    @media all and (min-width: $M) {
        max-width: 60%;
    }
    @media all and (min-width: $L) {
        max-width: 40%;
    }

    > i.fas {
        position: absolute;
        left: 1rem; top: 50%;
        transform: translateY(-50%);
    }

    a {
        text-decoration: underline;
        color: $white;
    }
    a:hover, a:active, a:focus {
        text-decoration: none;
        color: $white;
    }

    &--error {
        color: $danger;
        background-color: $light-danger;

        a { color: $danger; }
        a:hover, a:active, a:focus{
            color: $dark-danger;
        }
    }

    &--success {
        color: $success;
        background-color: $light-success;

        a { color: $success; }
        a:hover, a:active, a:focus{
            color: $dark-success;
        }
    }

    &--info {
        color: $info;
        background-color: $light-info;

        a { color: $info; }
        a:hover, a:active, a:focus{
            color: $dark-info;
        }
    }
}