/*

Notifications

**Module:**
[Mithril](https://github.com/phoenixreisen/mithrils/tree/main/src/notification) |
[React](https://github.com/phoenixreisen/reacts/tree/main/src/notification)

Notifications werden typischerweise als Egebnisanzeige von Benutzerinteraktionen angezeigt. Wenn ein Benutzer beispielsweise Daten
speichert oder löscht, wird ihm die Tatsache, dass dies erfolgreich oder fehlerhaft verlaufen ist, mittels einer solchen
Box mitgeteilt.

**Die Notification ist hier zum Zweck der beispielhaften Veranschaulichung `static` positioniert und ohne Animation dargestellt**.
Normalerweise würde sie `fixed` unten links im Browserfenster einfaden und nach 5 Sekunden automatisch wieder ausfaden (siehe Demo).

Markup:
<article class="notification {{modifier_class}}">
    <i class="fas fa-info-circle"></i>
    <span>Ich bin ein Ergebnis-Hinweis. <a href="javascript:">Mit einem Link</a>.</span>
    <a class="fas fa-times"></a>
</article>

.notification--info     - Infomeldung
.notification--error    - Fehlermeldung
.notification--success  - Erfolgsmeldung

Styleguide 750.0

*/

@keyframes fadeInUpAndfadeOutDown {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  3%,
  97% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.notification {
  // POSITION
  left: 5%;
  bottom: 5%;
  z-index: 200;
  position: fixed;

  // STYLE
  max-width: 90%;
  line-height: 135%;
  margin-bottom: 0.5rem;
  padding: 0.75rem 2.5rem 0.75rem 3rem;
  box-shadow: $box-shadow-4;
  animation: fadeInUpAndfadeOutDown 10s;
  animation-fill-mode: forwards;
  border-radius: 5px;

  // STANDARDFARBEN
  background-color: $dark-blue;
  color: $white;

  @media all and (min-width: $M) {
    max-width: 60%;
  }

  @media all and (min-width: $L) {
    max-width: 40%;
  }

  > i.fas,
  > a.fas {
    position: absolute;
    line-height: 135%;
    top: 0.75rem;
    left: 1rem;
    right: auto;
  }

  > a.fas.fa-times {
    right: 1rem;
    left: auto;
  }

  a {
    text-decoration: underline;
    color: $white;
  }

  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
    color: $white;
  }

  &--error {
    color: $danger;
    background-color: $light-danger;

    a, a:visited { 
      color: $danger; 
    }

    a:hover,
    a:active,
    a:focus {
      color: $dark-danger;
    }
  }

  &--success {
    color: $success;
    background-color: $light-success;

    a, a:visited { 
      color: $success; 
    }

    a:hover,
    a:active,
    a:focus {
      color: $dark-success;
    }
  }

  &--info {
    color: $info;
    background-color: $light-info;

    a, a:visited { 
      color: $info; 
    }

    a:hover,
    a:active,
    a:focus {
      color: $dark-info;
    }
  }
}
