/*

Select

Auf dem Opening liegt eine Transition. Standardmäßig sind `max-height: 10rem` eingestellt, die bei höherem
Bedarf überschrieben werden müssten.

Styleguide 8.0

[Github](https://github.com/phoenixreisen/select)

Markup:
<div style="height: 13rem; padding-left: 1rem;">
    <article class="phx-select {{modifier_class}}">
        <a href="javascript:">
            <i class="fas fa-user mr1" aria-hidden="true"></i> Optionen
        </a>
        <div class="phx-select-items">
            <div key="item-0" class="phx-select-item phx-select-item-0">
                <a href="javascript:">Option eins</a>
            </div>
            <div key="item-1" class="phx-select-item phx-select-item-1">
                <a href="javascript:">Option zwei</a>
            </div>
            <div key="item-2" class="phx-select-item phx-select-item-2">
                <a href="javascript:">Option drei</a>
            </div>
        </div>
    </article>
</div>

.phx-select--open - wenn gesetzt, dann offen, sonst geschlossen.

*/

.phx-select {
    display: inline-block;
    position: relative;
    overflow: visible;
    border-bottom: 1px solid $gray5;
}

.phx-select-items {
    width: auto;
    max-height: 0;
    display: block;
    min-width: 100%;
    position: absolute;
    left: 50%; top: 125%;
    transform: translateX(-50%);
    transition: max-height 100ms ease-out;
    box-shadow: $box-shadow-4;
    background-color: $white;
    white-space: nowrap;
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;

    .phx-select--open & {
        max-height: 10rem;
        transition: max-height 100ms ease-in;
    }
}

.phx-select-item {
    display: block;
    padding: 0.75rem 1rem;
    margin: 0;
    text-align: left;

    &:hover {
        background-color: $gray6;
    }
}