/*

Tabs

Styleguide 7.0

[Github](https://github.com/phoenixreisen/tabs)

Markup:
<article class="phx-tabs">
    <div class="phx-tabs__tabs-bar">
        <span class="phx-tab phx-tab-0 phx-tab--link is-inactive-tab">Tab 1</span>
        <span class="phx-tab phx-tab-1 phx-tab--link is-active-tab">Tab 2</span>
        <span class="phx-tab phx-tab-2 phx-tab--link is-inactive-tab">Tab 3</span>
    </div>
    <div class="phx-tabs__tabs-content">
        <div class="phx-tab-content phx-tab-content-0 is-hidden-tab">
            <div style="padding: 1rem;">Ich bin Content von Tab 1</div>
        </div>
        <div class="phx-tab-content phx-tab-content-1 is-visible-tab">
            <div style="padding: 1rem;">Ich bin Content von Tab 2</div>
        </div>
        <div class="phx-tab-content phx-tab-content-2 is-hidden-tab">
            <div style="padding: 1rem;">Ich bin Content von Tab 3</div>
        </div>
    </div>
</article>

*/

.phx-tabs {
    
    .phx-tabs__tabs-bar {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        border-bottom: 2px solid $gray6;
    }
    
    .phx-tab {
        display: inline-block;
        padding: 1em 1.5em;
        margin: 0 0.2em;
        vertical-align: bottom;
        border: 1px solid $gray6;
        border-bottom: 0;
    
        &:first-child {
            margin-left: 1px;
        }
        &:last-child {
            margin-right: 0;
        }
    
        &.is-active-tab {
            background-color: $gray6;
        }
    }
    
    .phx-tab-content {
        margin: 0;
        background-color: $gray6;
    
        &.is-hidden-tab {
            display: none;
        }
    }

    .phx-tab--link {
        cursor: pointer;
    }
}