/*

Tabs

Styleguide 7.0

[Github](https://github.com/phoenixreisen/tabs)

Markup:
<article class="tabs">
    <div class="tabs__tabs-bar">
        <a class="tab tab-0 tab--link is-inactive-tab">Tab 1</a>
        <a class="tab tab-1 tab--link is-active-tab">Tab 2</a>
        <a class="tab tab-2 tab--link is-inactive-tab">Tab 3</a>
    </div>
    <div class="tabs__tabs-content">
        <div class="tab-content tab-content-0 is-hidden-tab">
            <div style="padding: 1rem;">Ich bin Content von Tab 1</div>
        </div>
        <div class="tab-content tab-content-1 is-visible-tab">
            <div style="padding: 1rem;">Ich bin Content von Tab 2</div>
        </div>
        <div class="tab-content tab-content-2 is-hidden-tab">
            <div style="padding: 1rem;">Ich bin Content von Tab 3</div>
        </div>
    </div>
</article>

*/

.tabs {
    
    .tabs__tabs-bar {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        border-bottom: 2px solid $gray6;
    }
    
    .tab {
        display: inline-block;
        padding: 1em 1.5em;
        margin: 0 0.2em;
        vertical-align: bottom;
        border: 1px solid $gray6;
        border-bottom: 0;
        color: $gray1;
    
        &:first-child {
            margin-left: 1px;
        }
        &:last-child {
            margin-right: 0;
        }
    
        &.is-active-tab {
            background-color: $gray6;
        }
    }
    
    .tab-content {
        margin: 0;
        background-color: $gray6;
    
        &.is-hidden-tab {
            display: none;
        }
    }

    .tab--link {
        cursor: pointer;
    }
}