// Phx generic values (Variables, Mixins, etc.)
@import "variables";

// Phx components
@import "components/tabs";
@import "components/forms";
@import "components/table";
@import "components/modal";
@import "components/badges";
@import "components/alerts";
@import "components/loader";
@import "components/banners";
@import "components/buttons";
@import "components/dropdown";
@import "components/headlines";
@import "components/accordeon";

// Phx utilities
@import "utilities/grid";
@import "utilities/colors";
@import "utilities/wrapper";
@import "utilities/visibility";

// Used 3rd party vendor libs
@import "vendors/pikaday";
@import "vendors/animate";
@import "vendors/tachyons";
@import "vendors/phoenix";

// Phx standards
@import "base";